body{
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	color:#000;
    background: linear-gradient(135deg, #9F4A8F 0%, #745099 18%, #555AA2 31%, #4668AC 43%, #326FB3 54%, #3073B5 100%) no-repeat;
	height:100vh;
	padding-top:50px;
}
.container{
	width:1280px;
	margin:0 auto;
}
.white-box{
	background-color:#ffffff;
	text-align: center;
	padding-top:50px;
	padding-bottom:50px;
}
.title{
	padding: 1rem 2rem;
    margin-bottom: 0px;
	text-align:center;
	font-size:36px;
}
#typed{
	font-size:36px;
	text-align:center;
	padding-bottom:10px;
	padding-top:10px;
}
.typed-cursor{
	opacity: 1;
	font-weight: 100;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	-o-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-ms-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}


/* If fade out option is set */
.typed-fade-out {opacity: 0;}